.myaccount-main{
    display: flex;
    justify-content: center;
}
.myaccount{
    background-color: #f1d6c4;
    background-image: radial-gradient(#dfa57f 8%, transparent 0);
    background-position: 0 0;
    background-size: 1.8rem 1.8rem;
    border-radius: 4rem;
    box-shadow: inset 0 0 5rem 2rem #fff;
    margin: 1rem;
    scroll-snap-align: center;
    width: 95%;
    min-height: 500px;
    display: flex;
    justify-content: space-around;
}
.first-myaccount{
    width: 30%;
    min-height: 500px;
    display: flex;
    justify-content: space-around;    
}

.second-myaccount{
    width: 40%;
    min-height: 500px;
}