*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: #f8d4bd;  
  overflow-x: hidden;
}
footer{
  align-items: center;
  background-color: #f8d4bd;
  display: flex;
  font-size: 1rem;
  grid-area: footer;
  justify-content: center;

}